/* 重置默認的邊距和填充 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5E8DD;
}
h1 {
    margin: 0 auto;
    padding: 20px 5%; /* 頁面添加上下各 20px，左右各 30px 的邊距 */
    text-align: center;
}

/* 美化表頭 */
th {
    background-color: #EED3D9; /* 背景顏色 */
    padding: 10px; /* 填充 */
}

/* 美化表格單元格 */
td {
    padding: 10px; /* 填充 */
}

/* 在表格行之間添加一些間距 */
tr {
    margin-bottom: 10px;
}

/* 添加表格邊框 */
table {
    margin: 0;
    width: 100%;
    border-collapse: collapse; /* 合併表格邊框 */
    table-layout: fixed; /* 使用固定表格布局 */
}

/* 添加表格單元格邊框 */
td, th { /*格字框*/
    border: 1px solid #000000; /* 邊框 */
    text-align: center; /* 文本對齊方式 */
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between; /* 左右两侧 */
    align-items: center; /* 垂直居中，视情况选择 */
    padding: 10px; /* 容器的内边距，可根据需求调整 */
    background-color: #EED3D9;
    color: #0b0b0b;
    text-align: center;
    font-size: 15px;

}

.header-right {
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.tb-set {
    padding: 0 10%;
}

tbody {
    background-color: white;
}

/* 美化連結 */
a {
    text-decoration: none; /* 去除下劃線 */
    color: blue; /* 文本顏色 */
}

/* 懸停連結時的樣式 */
a:hover {
    text-decoration: underline; /* 添加下劃線 */
}

#sort_order {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 140px;
    margin-left: 5px;
}

#sort_order option {
    font-size: 14px;
}

#wrapper {
    width: 1500px;
    margin: 0 auto;
}