body {
    font-family: Microsoft JhengHei;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5E8DD;
}
.container {
    width: 800px;
    padding: 20px;
    /* border-radius: 25px;
    box-shadow: 5px 5px 5px 0px gray; */
}

h1 {
    font-family: Microsoft JhengHei;
}

.top{
    margin: 0;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #EED3D9;
}

.main {
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: space-around;
    background-color:white;
}

.error-message {
    color: red;
    margin: 0 auto 20px;
    text-align: center;
}

.input-field {
    margin: 20px auto 10px;
}

button, input{
    margin: 5px;
    border-radius: 10px;
    font-size: large;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 允許按鈕換行*/
}

.bottom-btn {
    background-color: #EED3D9;
    border-color: #EED3D9;
    margin: 10px;
    /* margin: 0px 10px 20px;
    padding: 10px; */
}

@media (max-width: 600px) { /*寬度小於 600px 的設備（如手機）*/
    .container {
        padding: 10px;
        max-width: 90%;
    }
    .top {
        padding: 5px;
        font-size: 18px;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    .error-message {
        font-size: 14px;
    }
    .bottom-btn {
        width: 100%;
        margin: 10px 0;
    }
}
@media (min-width: 601px) and (max-width: 768px) { /*寬度在 601px 到 768px 之間的設備（如平板）*/
    .container {
        padding: 20px;
        max-width: 80%;
    }
    .top {
        padding: 10px;
        font-size: 20px;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    .bottom-btn {
        width: 48%;
        margin: 10px 1%;
    }
}
@media (min-width: 769px) and (max-width: 1200px) { /*寬度在 769px 到 1200px 之間的設備（如桌面）*/
    .container {
        padding: 30px;
        max-width: 70%;
    }
    .top {
        padding: 15px;
        font-size: 22px;
    }
    .bottom-btn {
        width: 45%;
        margin: 10px 2%;
    }
}
@media (min-width: 1201px) { /*寬度超過 1200px 的設備（如大桌面或高清顯示器）*/
    .container {
        padding: 40px;
        max-width: 60%;
    }
    .top {
        padding: 20px;
        font-size: 24px;
    }
    .bottom-btn {
        width: 30%;
        margin: 10px 2%;
    }
}

