<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>資料修改(進貨)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <h2>修改進貨資料</h2>
    <form action="." method="post" name="purchasespostform">
        {% csrf_token %}
        <table border="1" cellspacing="1" cellpadding="4">
            <tr>
                <th>藥草名稱</th>
                <td>
                    <label for="herbs">選擇藥草：</label>
                    <select id="herbs" name="herbs_id">
                        <option value="">--- 請選擇藥草 ---</option>
                        <option value="1">魚腥草</option>
                        <option value="2">白鶴靈芝</option>
                        <option value="3">積雪草</option>
                        <option value="4">金銀花</option>
                        <option value="5">蒲公英</option>
                        <option value="6">忍冬</option>
                        <option value="7">野茄樹</option>
                        <option value="8">金錢薄荷</option>
                        <option value="9">紫蘇</option>
                        <option value="10">鴨舌癀</option>
                        <option value="11">益母草</option>
                        <option value="12">薄荷</option>
                        <option value="13">甜菊</option>
                        <option value="14">咸豐草</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>料號</th>
                <td><input type="text" id="herbs_id_display" name="herbs_id_display" value="" readonly></td>
            </tr>
            <tr>
                <th>供應商編號</th>
                <td><input type="text" id="supply_id" name="supply_id" value=""></td>
            </tr>
            <tr>
                <th>數量(公克)</th>
                <td><input type="text" id="value" name="value" value=""></td>
            </tr>
            <tr>
                <th>時間</th>
                <td>
                    <label for="datetime">選擇日期＆時間：</label>
                    <input type="datetime-local" id="datetime" name="datetime" value="">
                </td>
            </tr>
            <tr>
                <th colspan="2" align="center">
                    <input type="submit" name="button" id="button" value="送出">
                    <input type="reset" name="button2" id="button2" value="重設">
                </th>
            </tr>
        </table>
        <script>
            document.getElementById('herbs').addEventListener('change', function() {
                var herbsId = this.value;
                if (herbsId) {
                    document.getElementById('herbs_id_display').value = herbsId;
                } else {
                    document.getElementById('herbs_id_display').value = '';  // 清空输入框
                }
            });
        </script>
    </form>
</body>
</html>
