<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>資料修改(進貨)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <h2>修改進貨資料</h2>
    <form action="." method="post" name="purchasespostform">
        {% csrf_token %}
        <table border="1" cellspacing="1" cellpadding="4">
            <tr>
                <th>藥草名稱</th>
                <td>
                    {{ form.herbs_id }}
                </td>
            </tr>
            <tr>
                <th>料號</th>
                <td><input type="text" id="herbs_id_display" name="herbs_id_display" value="{{ unit.herbs_id }}"  readonly></td>
            </tr>
            <tr>
                <th>供應商編號</th>
                <td>
                    {{ form.supply_id }}
                </td>
            </tr>
            <tr>
                <th>數量(公克)</th>
                <td>
                    {{ form.purchases_value }}
                </td>
            </tr>
            <tr>
                <th>時間</th>
                <td>
                    {{ form.purchases_time }}
                </td>
            </tr>
            <tr>
                <th colspan="2" align="center">
                    <input type="submit" name="button" id="button" value="送出">
                    <input type="reset" name="button2" id="button2" value="重設">
                    <button type="button" onclick="window.location.href='/perchaselist';">返回進貨首頁</button>
                </th>
            </tr>
        </table>
        <script>
            document.getElementById('{{ form.herbs_id.id_for_label }}').addEventListener('change', function() {
                var herbsId = this.value;
                if (herbsId) {
                    document.getElementById('herbs_id_display').value = herbsId;
                } else {
                    document.getElementById('herbs_id_display').value = '';  // 清空輸入框
                }
            });
        </script
    </form>
</body>
</html>
