<!DOCTYPE html>
<html>
<head>
    <title>庫存資料表</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/herbstocklist.css' %}">
    <style>
        td, th { /*格字框*/
            border: 1px solid #000000; /* 邊框 */
            text-align: center; /* 文本對齊方式 */
        }
    </style>
</head>
<body>
    <h2>庫存資料</h2><h3><a href="/manage/">員工首頁</a></h3><!-- <h3><a href="/purchasepostform/">新增資料</a></h3> -->
    <table border="1" cellpadding="4" cellspacing="1">
        <th>藥草id</th><th>藥草名稱</th><th>庫存數量</th>
        {% for HerbStock in herbs %}
            <tr>
                <td>{{ HerbStock.herbs_id }}</td>
                <td>{{ HerbStock.herbs_name }}</td>
                <td>{{ HerbStock.current_stock }}</td>
                <!-- <td>
                    <a href="/edit/{{HerbStock.herbs_id}}/" title="編輯"> 編輯 </a>
                    <a href="/delete/{{HerbStock.herbs_id}}" title="刪除"> 刪除 </a>
                </td> -->
            </tr>
        {% endfor %}
    </table> 
    
</body>
</html>