<!DOCTYPE html>
<html>
<head>
    <title>播放影片</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
{% load static%}
<div class="header">
    <span>
        <a href="/index/"><img src="{% static 'images/logo.png' %}" style="height: 90px; width: auto;"></a>
    </span>
</div>   
<div class="vedio">
    <video id="videoPlayer" controls>
    <source id="videoSource" src="" type="video/mp4">
    Your browser does not support the video tag or the file format of this video. 
    </video>
</div> 


<div class="buttonContainer">
    <button id="nextPageButton">開始填表單</button>
</div>

<script>
    const videos = [
        "{% static 'images/顏聿茗.mp4' %}",
        "{% static 'images/張家凱.mp4' %}",
        "{% static 'images/洪藝芸.mp4' %}",
        "{% static 'images/徐若蓁.mp4' %}"
    ];

    // 隨機選擇影片
    const randomVideo = videos[Math.floor(Math.random() * videos.length)];

    // 設置影片目的地
    document.getElementById('videoSource').src = randomVideo;


    var video = document.getElementById('videoPlayer');
    var nextPageButton = document.getElementById('nextPageButton');

    video.addEventListener('ended', function () {
        window.location.href = "/question/"; // 影片播放完畢後切換到下一個網頁
    });

    nextPageButton.addEventListener('click', function() {
        window.location.href = "/question/"; // 點擊按鈕時切換到下一個網頁
    });
</script>

</body>
</html>
