{% load my_filters %}
<!DOCTYPE html>
<head>
    <title>侍茶師</title>
</head>
<body>
    <h2>歡迎來到智慧侍茶師</h2>
        {% if request.user.is_authenticated %}
        {% csrf_token %}
            <p>
                顧客：{{request.user.customer_name}} <br>電話號碼：{{request.user.customer_id|mask_phone}} <br>您已經登入囉 
            </p>
            <a href="/customizationform/">客製化表單</a><br>
            <a href="/accounts/logout/">登出</a>
        {% else %}
            <p>您尚未登入喔~<a href="/accounts/login/">登入</a></p>
            <p>若您還沒有帳號，請<a href="/accounts/register/">註冊</a></p>
        {% endif %}
        
</body>
</html>