<h2>用户组列表</h2>
<ul>
    {% for group in groups %}
        <li>{{ group.name }}</li>
    {% endfor %}
</ul>

<h2>权限列表</h2>
<form method="post">
    {% csrf_token %}
    <select name="group">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
    </select>
    <select name="permission">
        {% for permission in permissions %}
            <option value="{{ permission.id }}">{{ permission.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="分配权限">
</form>