<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>症狀、甜度與冰塊選擇</title>
    <link rel="stylesheet" href="{% static 'css/POS介面.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
       
    </style>
</head>
<body>
<div class="main">
    <!-- 提示存貨不足 -->
    <div id="lowInventoryList" class="lowInventoryList">庫存不足警示</div>

    <!-- 輸出最新一筆的客製化結果 開啟網頁時會自動啟動相應的script -->
    <div class="show_result">
        <div style="margin: 2px;">最新一筆客製化結果</div>
        
        <div id="result"></div>

        {% csrf_token %}
        <!-- <button id="search-button" style="margin: 2px;" onclick="showResult()">查詢</button> -->
    </div>

    <!-- 症狀選擇 -->
    <div class="container">
        <div class="option-title">選擇飲品</div>
        <div class="row">
            <a class="item" id="symptom1" onclick="selectSymptom('symptom1')">星夜寧靜 $50</a>
            <a class="item" id="symptom2" onclick="selectSymptom('symptom2')">宵福調和 $50</a>
            <a class="item" id="symptom3" onclick="selectSymptom('symptom3')">鼻福寧茶 $50</a>
        </div>
        <div class="row">
            <a class="item" id="symptom4" onclick="selectSymptom('symptom4')">悅膚寧茶 $60</a>
            <a class="item" id="symptom5" onclick="selectSymptom('symptom5')">慰胃來茶 $60</a>
            <a class="item" id="symptom6" onclick="selectSymptom('symptom6')">月悅茶 $60</a>
        </div>
        <hr>
        <!-- 甜度選擇 -->
        <div class="option-group">
            <div class="option-title">甜度：</div>
            <div class="sweetnessOptions">
                <div class="option" data-value="正常甜(10分)" onclick="setSelected(this)">正常甜(10分)</div>
                <div class="option" data-value="少糖(7分)" onclick="setSelected(this)">少糖(7分)</div>
                <div class="option" data-value="半糖(5分)" onclick="setSelected(this)">半糖(5分)</div>
                <div class="option" data-value="微糖(3分)" onclick="setSelected(this)">微糖(3分)</div>
                <div class="option" data-value="無糖" onclick="setSelected(this)">無糖(0分)</div>
            </div>
        </div>
        <!-- 冰塊選擇 -->
        <div class="option-group">
            <div class="option-title">冰塊：</div>
            <div class="iceOptions">
                <div class="option" data-value="正常冰" onclick="setSelected(this)">正常冰</div>
                <div class="option" data-value="少冰" onclick="setSelected(this)">少冰</div>
                <div class="option" data-value="微冰" onclick="setSelected(this)">微冰</div>
                <div class="option" data-value="去冰" onclick="setSelected(this)">去冰</div>
                <div class="option" data-value="熱飲" onclick="setSelected(this)">熱飲</div>
            </div>
        </div>
        <!-- 產品數量輸入框 -->
        <input type="number" class="productQuantityInput" placeholder="輸入產品數量" value="1" min="1">
        <!-- 添加到購物車按鈕 -->
        <button class="submitButton" onclick="onSubmit()">添加到購物車</button>
    </div>

    <!-- 顯示選擇結果的容器 -->
    <div class="resultContainer" style="display: inline-block;">
        <div class="resultbox">
            <h2>已點餐點：</h2>
            <ul id="productList"></ul>
            <!-- 確認訂單 -->
            <div class="footer">
                <div id="totalAmount">總金額：$0</div>
                <button onclick="sendOrdersToDjango(); displayOrder();" id="confirmOrderButton">確認訂單</button>
            </div>
            <!-- <button onclick="sendOrdersToDjango(); displayOrder();">確認訂單</button> -->
        </div>
    </div>
    <!-- 顯示未出餐的容器 -->
    <div class="orderContainer" style="display: inline-block;">
        <div class="orderbox">
            <h2>未出餐點：</h2>
            <ul id="orderList"></ul>
            <button onclick="deleteSelectedOrders(); ">已完成</button>
        </div>
    </div>
</div>

<script>
    window.onload = function(){
            let data = "{{ show_result|safe }}";

            // 去掉頭尾的中括號和單引號
            let trimmedStr = data.slice(1, -1).replace(/'/g, "");

            // 根據逗號分割字串
            let parts = trimmedStr.split(',');

            // 分割成三個部分
            let customerName = parts[0];
            let customerPhone = parts[1];
            let herbs = parts.slice(2).join(',');

            // 找到帶有特定ID的 div 並插入結果
            let result = document.getElementById('result');
            result.innerHTML = `
                <p>${customerName}</p>
                <p>${customerPhone}</p>
                <p>藥草克數: ${herbs}</p>
            `;
    }
    
    document.addEventListener('DOMContentLoaded', function() { //庫存不足顯示在pos上
            fetch('/check_inventory/')
                .then(response => response.json())
                .then(data => {
                    const lowInventoryList = data.low_inventory;
                    if (lowInventoryList.length > 0) {
                        const message = lowInventoryList.map(item => `${item.herbs_name} 剩餘 ${item.current_stock}g`).join('<br>');
                        document.getElementById('lowInventoryList').innerHTML = `以下藥草庫存不足：<br>${message}`;
                    }
                })
                .catch(error => console.error('Error fetching inventory:', error));
        });

    function showResult() {
        $.ajax({
            url: '/pos/',
            method: 'POST',
            success: function(data) {
                // 更新結果並處理高度
            $('#result').text(data.value);

            // 確保容器的高度會自動調整
            $('#result').css({
                'height': 'auto',         // 讓高度隨內容變動
                'overflow': 'visible'     // 讓溢出部分不被隱藏
            });
            },
            error: function(error) {
                console.log("Error:", error);
            }
        });
    }

    // 獲取CSRF token
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        
    // 更新產品數量的函數
    function updateQuantity() {
        var productQuantity = document.querySelector('.productQuantityInput').value;
        document.getElementById('quantityResult').textContent = '數量：' + productQuantity;
        localStorage.setItem('productQuantity', productQuantity);
    }

    //庫存不足顯示在pos上
    document.addEventListener('DOMContentLoaded', function() { 
            fetch('/check_inventory/')
                .then(response => response.json())
                .then(data => {
                    const lowInventoryList = data.low_inventory;
                    if (lowInventoryList.length > 0) {
                        const message = lowInventoryList.map(item => `${item.herbs_name} 剩餘 ${item.current_stock}g`).join('<br>');
                        document.getElementById('lowInventoryList').innerHTML = `以下藥草庫存不足：<br>${message}`;
                    }
                })
                .catch(error => console.error('Error fetching inventory:', error));
        });

    // 症狀選擇
    function selectSymptom(symptom) {
        console.log("選擇的症狀：" + symptom);
        let chineseSymptom = '';
        switch (symptom) {
            case 'symptom1':
                chineseSymptom = '星夜寧靜';
                break;
            case 'symptom2':
                chineseSymptom = '宵福調和';
                break;
            case 'symptom3':
                chineseSymptom = '鼻福寧茶';
                break;
            case 'symptom4':
                chineseSymptom = '悅膚寧茶';
                break;
            case 'symptom5':
                chineseSymptom = '慰胃來茶';
                break;
            case 'symptom6':
                chineseSymptom = '月悅茶';
                break;
            default:
                chineseSymptom = '未知症狀';
        }
        const items = document.querySelectorAll('.item');
        items.forEach(item => {
            item.classList.remove('selected');
        });
        const selectedSymptom = document.getElementById(symptom);
        selectedSymptom.classList.add('selected');
    }


    // 甜度或冰塊的選擇狀態
    function setSelected(element) {
        const group = element.parentElement.querySelectorAll('.option');
        group.forEach(option => {
            if (option !== element) {
                option.classList.remove('selected');
            }
        });
        element.classList.toggle('selected');
    }

    // 獲取所選甜度或冰塊的值
    function getSelectedOption(options) {
        let selectedOption = null;
        options.forEach(option => {
            if (option.classList.contains('selected')) {
                selectedOption = option.getAttribute('data-value');
            }
        });
        return selectedOption;
    }

    const productPrices = {
        "星夜寧靜": 50,
        "宵福調和": 50,
        "鼻福寧茶": 50,
        "悅膚寧茶": 60,
        "慰胃來茶": 60,
        "月悅茶": 60
    };
    let totalAmount = 0;  // 儲存總金額

    let orders = [];  // 儲存訂單的陣列
    // 用戶點擊確定按鈕時被調用
    function onSubmit() { //添加至購物車按鍵
        const selectedSweetness = getSelectedOption(document.querySelectorAll('.sweetnessOptions .option'));
        const selectedIce = getSelectedOption(document.querySelectorAll('.iceOptions .option'));

        // 獲取選定的症狀元素
        const selectedSymptomElement = document.querySelector('.item.selected');

        // 檢查是否選擇了症狀、甜度和冰塊。
        if (!selectedSymptomElement) {
            alert("請選擇飲品");
            return;
        }
        if (selectedSweetness === null) {
            alert("請選擇甜度");
            return;
        }
        if (selectedIce === null) {
            alert("請選擇冰塊");
            return;
        }

        const selectedSymptom = selectedSymptomElement.textContent.slice(0,-4);
        
        const productQuantity = document.querySelector('.productQuantityInput').value.trim();

        // 檢查產品數量是否為空或負數。
        if (productQuantity === '') {
            alert('請輸入產品數量');
            return;
        }
        if (productQuantity < 1) {
            alert('請輸入有效的產品數量');
            return;
        }

        // 計算商品金額
        const productPrice = productPrices[selectedSymptom] || 0; // 獲取該飲品的價格
        const orderAmount = productPrice * productQuantity;  // 單筆訂單金額
        totalAmount += orderAmount;  // 累加至總金額

        // 將訂單資料儲存為物件
        const order = {
            symptom: selectedSymptom,
            sweetness: selectedSweetness,
            ice: selectedIce,
            quantity: productQuantity,
            amount: orderAmount
        };

        // 將訂單物件推送到 orders 陣列中
        orders.push(order);

        // 顯示使用者選擇的結果
        const li = document.createElement('li');
        li.innerHTML = `
            ${selectedSymptom}，甜度：${selectedSweetness}，冰塊：${selectedIce}，數量：${productQuantity}，金額：$${orderAmount}
            <br><button onclick="removeItem(this)">刪除</button>
        `;


        document.getElementById('productList').appendChild(li);

       

        // 更新總金額顯示
        const totalAmountElement = document.getElementById('totalAmount');
        if (!totalAmountElement) {
            const totalAmountDiv = document.createElement('div');
            totalAmountDiv.id = 'totalAmount';
            totalAmountDiv.textContent = `總金額：$${totalAmount}`;
            document.querySelector('.resultContainer').appendChild(totalAmountDiv);
        } else {
            totalAmountElement.textContent = `總金額：$${totalAmount}`;
        }

        // 數量輸入格的初始值
        document.querySelector('.productQuantityInput').value = '1'; 
    }

    // 刪除項目
    function removeItem(item) {
        const index = Array.from(item.parentNode.parentNode.children).indexOf(item.parentNode);
        const order = orders[index];
        totalAmount -= order.amount;  // 減去該筆金額
        orders.splice(index, 1);  // 從 orders 陣列中刪除對應索引的訂單資料
        item.parentNode.remove();  // 從 UI 中刪除對應的訂單項目
        
        // 更新總金額顯示
        document.getElementById('totalAmount').textContent = `總金額：$${totalAmount}`;
    }
    
    
    function sendOrdersToDjango() {
        completeOrder = [...orders];
        fetch('/pos/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),  // 請確保您有正確取得 CSRF token
            },
            body: JSON.stringify({ orders: orders }),
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);  // 可以根據後端返回的訊息進行不同的提示
            
            // 清空 orders 陣列
            orders = [];
            // 清空 UI 中的訂單列表
            document.getElementById('productList').innerHTML = '';
            document.getElementById('totalAmount').textContent = `總金額：$0`;
            // 隱藏結果容器
            //document.querySelector('.resultContainer').style.display = 'none';
            // if (data.refresh) {
            //     // 如果包含重整的指示，則重新整理網頁
            //     window.location.reload();
            // }
        })
        .catch(error => console.error('Error submitting order:', error));
        
    }
    
    
    function displayOrder() {
        
        const orderListElement = document.getElementById("orderList");

            // 用來顯示訂單的 HTML
            let htmlContent = "";

            // 遍歷 completeOrder 陣列並生成 HTML
            completeOrder.forEach((order, index) => {
                htmlContent += `
                    <p>
                        症狀: ${order.symptom}
                        甜度: ${order.sweetness}
                        冰塊: ${order.ice}
                        數量: ${order.quantity}
                    </p>
                    <input type="checkbox" class="orderCheckbox" data-index="${index}">
                `;
            });

            // 插入生成的 HTML 到頁面中
            orderListElement.innerHTML = htmlContent;
            console.log(htmlContent);
    }
    // 刪除勾選的訂單內容
    function deleteSelectedOrders() {
            // 取得所有勾選的 checkbox
            const checkboxes = document.querySelectorAll(".orderCheckbox:checked");

            // 遍歷每個勾選的 checkbox
            checkboxes.forEach(checkbox => {
                // 獲取該 checkbox 對應的訂單索引
                const index = checkbox.getAttribute("data-index");

                // 刪除對應的訂單
                completeOrder.splice(index, 1);
            });

            // 重新顯示更新後的訂單內容
            displayOrder();
        }
    document.addEventListener('scroll', () => {
        const scrollY = window.scrollY; // 滾動條的垂直位置
        const viewportHeight = window.innerHeight; // 獲取視窗高度

        const orderContainer = document.querySelector('.orderContainer');
        document.querySelector('.resultContainer').style.top = `${scrollY + 10}px`; // 固定距離
        orderContainer.style.top = `${scrollY + viewportHeight - orderContainer.offsetHeight - 10}px`;
        });

    
</script>
</body>
</html>
