<!DOCTYPE html>
<html>
<head>
    <title>進貨資料表</title>
</head>
<body>
    <h2>顯示所有進貨資料</h2>
    <table border="1" cellpadding="0" cellspacing="0">
        <th>進貨id</th><th>藥草id</th><th>進貨數量</th><th>進貨時間</th>
        {% for Purchase in purchases %}
            <tr>
                <td>{{ Purchase.purchases_id}}</td>
                <td>{{ Purchase.herbs_id}}</td>
                <td>{{ Purchase.purchases_value}}</td>
                <td>{{ Purchase.purchases_time}}</td>
            </tr>
        {% endfor %}
    </table> 
</body>
</html>