<!DOCTYPE html>
<head>
    <title>資料新增(進貨)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/purchasepostform.css' %}">
</head>
<body>
    <h2>新增進貨資料</h2>
    <style>
        .center-text {
            text-align: center;
            color: red; 
        }
    </style>
    <form action="." method="post" name="purchasespostform">
        {% csrf_token %}
        <table border="1" cellspacing="1" cellpadding="4">
            <tr>
                <th>藥草名稱</th>
                <td>
                    {{ postform.herbs_name}}
                </td>
            </tr>
            <tr>
                <th>料號</th> <td><input type="text" id="herbs_id_display" name="herbs_id" readonly></td>
            </tr>
            <tr>
                <th>供應商編號</th><td>{{ postform.supply_id}}</td>
            </tr>
            <tr>
                <th>數量(公克)</th><td>{{ postform.purchases_value}}</td>
            </tr>
            <tr>
                <th>時間</th>
                <td>
                    <label for="datetime">選擇日期＆時間：</label>
                    {{ postform.purchases_time }}
                </td>
            </tr>
            
            <tr>
                <th colspan="2" align="center">
                    <input type="submit" name="button" id="button" value="送出">
                    <input type="reset" name="button2" id="button2" value="重設">
                    <button type="button" onclick="window.location.href='/perchaselist';">返回進貨首頁</button>
                </th>
            </tr>
        </table>
    <script>
        document.getElementById('id_herbs_name').addEventListener('change', function() {
            var herbsId = this.value;
            if (herbsId) {
                document.getElementById('herbs_id_display').value = herbsId;
            } else {
                document.getElementById('herbs_id_display').value = '';  // 清空输入框
            }
        });
    </script>
        
    </form>
</body>
</html>