<!DOCTYPE html>
<html>
<head>
    <title>進貨資料表</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/purchaselist.css' %}">
</head>
<body>
    <h2>進貨資料</h2>
    <ul style="margin-left: 100px;">
        <li><a href="/purchasepostform/">新增資料</a></li>
        <li><a href="/manage/">員工首頁</a></li>
    </ul>
    

    <table border="1" cellpadding="4" cellspacing="1">
        <th>進貨id</th><th>料號</th><th>藥草</th><th>進貨數量</th><th>進貨時間</th><th>編輯</th>
        {% for Purchase in purchases %} 
            <tr>
                <td>{{ Purchase.purchases_id }}</td>
                <td>{{ Purchase.herbs_id }}</td>
                <td>{{ Purchase.herbs_name }}</td>
                <td>{{ Purchase.purchases_value }}</td>
                <td>{{ Purchase.purchases_time }}</td>
                <td>
                    <a href="/edit/{{Purchase.purchases_id}}/" title="編輯"> 編輯 </a>
                    <a href="/delete/{{Purchase.purchases_id}}" title="刪除"> 刪除 </a>
                </td>
            </tr>
        {% endfor %}
    </table> 
</body>
</html>